/* Tweaks on top of the mvp.css */
body {
    --color: rgb(32, 83, 122);
    --color-accent: var(--color-secondary-accent);
    --color-bg: #fff;
    --color-bg-secondary: #e9e9e9;
    --color-link: rgb(32, 83, 122);
    --color-secondary: hsl(35, 86%, 57.8%);
    --color-secondary-accent: hsl(35, 95%, 90%);
    --color-shadow: #f4f4f4;
    --color-table: var(--color-secondary);
    --color-text: #000;
    --color-text-secondary: #999;
}

mark {
    background-color: var(--color-secondary-accent);
}

footer,
header,
main {
    padding: 0.5em;
}

p:has(code) {
    overflow-x:hidden;
}

code.example {
    text-align: left;
    color: #FCFCFC;
    background: black;
    padding: 1em;
}

[data-component=star] {
    opacity: 0;
    animation: blink 3s;
}
@keyframes blink {
    from {
        opacity:0;
    }
    20% {
        opacity:1;
    }
    80% {
        opacity:1;
    }
    99% {
        opacity:0;

    }
    100% {
        display:none;
    }
}

